header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: red;
    font-size: 25px;
    height: 80px;
    text-shadow: 10px 10px 10px  rgb(146, 0, 85);
    border: 0px solid black;
}

main{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    place-items: center;

}
#btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 200px;
    width: 200px;
    border: 10px double rgb(255, 0, 0);
    box-shadow: 10px 10px 50px 10px rgb(66, 0, 0) ;
    justify-content: center;
    align-items: center;
}
.container{
    border: 5px solid rgb(255, 0, 0);
    border-radius: 10px;
    height: 500px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px 30px 30px 30px;
    align-items: center;
    
}
.curso{
    width: 100%;
    height: 50px;
    border: 4px solid chartreuse;
    border-radius: 10px;
    background: red;
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.curso:hover{
    background: yellow;
    border-color: aqua;
    color: green;
    transition: all 0.2s;
}
button{
    border: 4px solid aqua;
    width: 150px;
    height: 50px;
    background: blue;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}

.selecionado{
    background: rgb(2, 247, 255) !important;
    border: 4px solid rgb(255, 0, 0) !important;
    color: rgb(255, 230, 0) !important;
}