@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
main{
   display: grid;
   grid-template-columns: repeat(2, 50%);
   background: rgba(61, 42, 42, 0.329);


}
.caixas{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    gap: 5px;
    background-color: aliceblue;
}
.btns{
    width: 200px;
    height: 50px;
    background: rgb(0, 132, 255);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.btns:hover{
   border: 10px double rgb(13, 30, 187);
}

#input{
    width: 200px;
    height: 40px;
    border: 5px solid rgb(21, 55, 148);
    border-radius: 10px;
    text-align: center;
}

.curso{
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selecionados{
    width: 200px;
    height: 50px;
    background: rgb(255, 0, 0);
    color: white;
    border-radius: 10px;
}
h1{
    font-size: 30px;
    font-weight: bold;
    text-shadow: 10px 5px 5px rgb(138, 172, 119);
    text-align: center; 
    padding-bottom: 80px;
}