body{
    margin: 0;
    min-height: 100vh;

    display:grid;
    place-content: center;
    flex-wrap: wrap;
    gap: 10px;

}
.box{
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.box:hover{
    transition: all 0.5s;
    border-color: rgb(0, 60, 255);
}
.c1{
    background-color: red;
    color: #444;
}
.c2{    
    background-color: #444;
    color: #ccc;
}
.destaque{ /* important serve para que substitua as prop atuais */
    background-color: #0066ff !important;
    color: #ffffff !important;
    border-color: rgb(255, 0, 0) !important;
}

.destaque:hover{
    border-color: blue;
    transition: all 0.5s;
}